* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #FFCA2A;

  --white: #FFFFFF;
  --white_weak: #F5F5F5;

  --black: #263238;

  --gray: #495B65;
}



body {
  background: var(--white_weak);
  font: 400 1rem Roboto, sans-serif;

}

